
<mat-toolbar>
  <span>Inditex Challenge</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<div class="main-container" cdkDropListGroup>
  <div class="example-container" *ngFor="let list of lists; index as i">
    <div class="example-list"
      cdkDropList
      [cdkDropListData]="list.array"      
      (cdkDropListDropped)="drop($event)"
      [cdkDropListEnterPredicate]="evenPredicate"
      style.justify-content="{{group.value}}"> 
      <div class="example-box" *ngFor="let item of list.array" cdkDrag>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-subtitle>  {{item.price}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{item.photo}}">
        </mat-card>
      </div>
    </div>
    <div class="grid-style">
      <h3>Style: {{group.value}}</h3>
      <div class="style-container">
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle value="flex-start" aria-label="Text align left" >
            <mat-icon>format_align_left</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="space-evenly" aria-label="Text align center">
            <mat-icon>format_align_center</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="flex-end" aria-label="Text align right"> 
            <mat-icon>format_align_right</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="" aria-label="Text align right"> 
            <mat-icon>close</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    
  </div>


</div>

<router-outlet></router-outlet>
