<div class="column-container-main" >
    <!-- <div class="style-container">
      <mat-button-toggle-group [formControl]="fontStyleControl">
        <mat-button-toggle value="left" aria-label="Text align left" >
          <mat-icon>format_align_left</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="center" aria-label="Text align center">
          <mat-icon>format_align_center</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="right" aria-label="Text align right"> 
          <mat-icon>format_align_right</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div> -->
    <!-- style.justify-content="{{fontStyleControl.value}}" -->
    <div class="column-container" >
      
    </div> 
  </div>
